{% extends 'layout/basic.html' %}
<!-- Front-end created by Vadim Igorovich vadimuha13@gmail.com-->
{% block title %}
	Find actor
{% endblock %}
{% block head %}

	<link rel="icon" type="image/x-icon" href="https://cdn1.iconfinder.com/data/icons/social-media-set/30/Metacafe-128.png"> <!-- fav icon for index -->
	
{% endblock %}
{% block header %}
 <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#actors" aria-controls="actors" role="tab" data-toggle="tab">Actors</a></li>
    <li role="presentation"><a href="#directors" aria-controls="directors" role="tab" data-toggle="tab">Movie directors</a></li>
    <li role="presentation"><a href="#nobel" aria-controls="nobel" role="tab" data-toggle="tab">Nobel prize winners</a></li>
  </ul>

   <div class="tab-content" style="height: 100%">
    <div role="tabpanel" class="tab-pane active" id="actors"></div>
    <div role="tabpanel" class="tab-pane" id="directors"></div>
    <div role="tabpanel" class="tab-pane" id="nobel"></div>
  </div>
{% endblock %}
{% block body %}
	<main>
	<div class="container-fluid" style="margin: 0 auto">
		<input type="text" id="text" class="form-control" placeholder="Your name">

		<button type="button" id="sub_btn" class="btn btn-primary btn-lg active"
		 data-loading-text="can't be empty" autocomplete="off"> 
		 Find
		</button>
		<h1>{{ q }}</h1>
	</div>
	<script type="text/javascript">
		 $("ul").hide();
		 // Block empty field button
		 var btn = $("#sub_btn").button('loading')
		 $(function () {
			 $("#text").keyup(function(){
			 	check_empty_value(this)
			 });
		 // AJAX block
		 $('#sub_btn').click(function () {
			var name = $('#text').val()
			$.ajax({
				method: "GET",
				url: "/get_acrot",
				data: {q: name},
				dataType: "json"
			})
			.done(function (json) {
				$("ul").show();
				console.log(json)
				json[1].forEach(function(item) {
					for (i=0;i<3;i++){
						$("#actors").append("<p>"+item[i]+"</p>")
					}	
				}); // Filling actors panel
				json[0].forEach(function(item) {
					$("#directors").append("<p>"+ item +"</p>")
				}); // Filling directors panel
				json[2].forEach(function(item) {
					$("#nobel").append("<p>* "+ item[0] + " " + item[1] +  " " +  item[4] + ", Nobel prize in "+ item[2] + ", in speach said: " + item[3] +"</p>")
				}); // Filling nobel prizers panel

			})
			
		})
	})	
	</script>
	</main>
{% endblock %}